.buyer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aed6f1;
  min-height: 100vh;
}

.buyer-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-link {
  background-color: whitesmoke;
  color: black;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.add-link:hover {
  background-color: #32e7ff;
}


body{
  margin: 0; 
  padding: 0; 
  background-color: whitesmoke; 
}

.buyers-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.buyer-card {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 8px;
  border: 1px solid #006400;
  color: black;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease-in-out;
  text-decoration: none;
  align-items: center;
  width: calc(50% - 20px);
  max-width: 440px;
}
.buyer-card:hover {
  transform: translateY(-5px); 
}
.buyer-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.buyer-info {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.buyer-info p {
  margin: 0; 
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.bn {
  margin: 0;
}

.cont-btn {
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 70px;
  margin-left: 70px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.cont-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .buyer-card {
    flex-direction: column;
    width: 100%;
  }

  .buyer-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }

  .buyer-info {
    align-items: center;
  }
}

.navbar {
  background-color: #333;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  margin-left: auto;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  margin-left: 7px;
}

.nav-link:hover {
  background-color: greenyellow;
  color: black;
}

.add-buyer-link {
  margin-left: auto;
}

.logout-button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.logout-button:hover {
  background-color: #777;
}

  
.active-nav {
  background-color: rgb(0, 255, 98); 
  color: white; 
}

.buyers-heading {
  color: #006400; 
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}


