.seller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffb347;
  min-height: 100vh;
}

.sellers-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.seller-card {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 8px;
  color: black;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease-in-out;
  text-decoration: none;
  align-items: center;
  width: calc(50% - 20px);
  max-width: 440px;
  border: 1px solid #006400;
  border-radius: 8px;
}
.seller-card:hover {
  transform: translateY(-5px); 
}

.seller-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.seller-info {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.seller-info p {
  margin: 0; 
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.bn {
  margin: 0;
}

.cont-btn {
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 70px;
  margin-left: 70px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.cont-btn:hover {
  background-color: #0056b3;
}

.head2{
  padding: 20px;
  width: 1450px;

}
 
  @media (max-width: 768px) {
    .buyer-card {
      flex-direction: column;
      width: 100%;
    }
  
    .buyer-image {
      width: 100%;
      height: auto;
      border-radius: 8px 8px 0 0;
    }
  
    .buyer-info {
      align-items: center;
    }
  }
  
  .navbar {
    background-color: white;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    margin-left: auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .nav-link:hover {
    background-color: rgb(255, 241, 47);
    color: black;
  }
  
  .add-buyer-link {
    margin-left: auto;
  }
  
  .logout-button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
  }
  
  .logout-button:hover {
    background-color: rgb(255, 241, 47);
    color: black !important;
}
  
  
 .active-nav {
  background-color: black; 
    color: white !important; 
}

.sellers-heading {
  color: #006400; 
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
