
.product-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.8); 
  }
  
  .product-image {
    width: 30%;
    height: auto;
    margin-bottom: 20px;
    margin-left: 270px;
  }
  
  .product-details {
    text-align: center;
  }
  
  .product-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-details p {
    margin-bottom: 8px;
  }
  
  .product-details .price {
    font-weight: bold;
  }
  
  .product-details .category {
    color: #666;
  }
  
  .action-buttons {
    margin-top: 20px;
  }
  
  .buy-button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #3dca36;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .cart-button{
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #ff3700;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .buy-button:hover {
    background-color: #00b30c;
  }

  .cart-button:hover {
    background-color: #b30c00;
  }
  
  .back-link {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
  }
  
  .back-link:hover {
    text-decoration: none;
    color: #b30c00;
  }
  